<div class="row">
  <div class="col m6">
    <h3>Recent media mentions</h3>
    <div>
      <ul>
        <li>
          <a
            href="https://www.businessinsider.com/retail-tech-startups-to-watch-in-2023-according-to-vcs-2022-12"
            target="_blank"
            rel="nofollow"
          >
            Business Insider on retail tech startups ft. Bounty - Dec 2022
          </a>
        </li>
        <li>
          <a
            href="https://www.businessinsider.com/top-14-creator-economy-influencer-startups-according-to-vcs-2022-9"
            target="_blank"
            rel="nofollow"
          >
            Another Business Insider on creator economy startups (ft. Bounty) -
            Sept 2022
          </a>
        </li>
        <li>
          <a
            href="https://techcrunch.com/2022/08/02/bounty-raises-4-7m-to-help-everyday-tiktokers-make-money-from-reviews/"
            target="_blank"
            rel="nofollow"
          >
            TechCrunch announcement of our seed round at Bounty - Aug 2022
          </a>
        </li>
        <!-- <li>
          <a
            href="https://slate.com/podcasts/icymi/2022/05/jones-road-foundation-tiktok-drama-real-story"
            target="_blank"
            rel="nofollow"
          >
            Slate podcast on the Jones Road foundation drama mentioning Bounty -
            May 2022
          </a>
        </li> -->
        <li>
          <a
            href="https://www.fastcompany.com/90756003/jones-road-paying-customers-tiktok-bounty-marketing"
            target="_blank"
            rel="nofollow"
          >
            A fast company article about Bounty & Jones Road - May 2022
          </a>
        </li>
      </ul>
    </div>
    <h3>Articles / Podcast appearances</h3>
    <div>
      <ul>
        <li>
          <a
            href="https://music.amazon.com/podcasts/60f124a4-c3c6-4e7a-96a2-db8490468b37/episodes/36d15940-0445-4101-9711-ab7c2b215ed7/aws-re-view-ep21-irl-interview-with-aaron-decker-co-founder-head-of-engineering-at-bounty"
            target="_blank"
            rel="nofollow"
          >
            AWS re:View Podcast - Ep21: (IRL) Interview with Aaron Decker,
            Co-founder/Head of Engineering at Bounty - Oct 2022
          </a>
        </li>
        <li>
          <a
            href="https://open.spotify.com/episode/0STDG1HqMewM0lieWAhJj6"
            target="_blank"
            rel="nofollow"
          >
            Podcast I did with Techrecruit back when I busy working on
            ITeachRecruiters - Dec 2019
          </a>
        </li>
        <li>
          <a
            href="https://hackernoon.com/my-first-attempt-at-systematic-trading-algorithms-21a023d37d46"
            target="_blank"
            rel="nofollow"
          >
            Hackernoon - My first attempt at systematic trading algorithms - Feb
            2018
          </a>
        </li>
      </ul>
    </div>
    <h3>About this site</h3>
    <p>
      Mostly this is a blog. Sometimes I repost articles to Linkedin, Medium, or
      HackerNoon. Otherwise, if you want to get in touch about a project, this
      is the place to do it!
    </p>

    {% include contact-form.html %}

    <div>{% include mailchimp-form.html %}</div>
  </div>
  <div class="col m6">
    <h3>Top Articles on Investing</h3>
    <p>
      I write a about trading and investing a fair amount and some of the articles
      have been mildly popular. I'm very focused on technology trends and how
      they intersect with investing at this point in time.
    </p>

    <ul class="collection">
      <li class="collection-item">
        <a
          href="/blog/2021-04-07-introduction-to-ultra-long-term-trend-following/"
          >Introduction to Ultra Long Term Trend Following (2021)</a
        >
      </li>
      <li class="collection-item">
        <a
          href="/blog/2020-06-28-donnie-pump-covid-press-conference-trading-system/"
          >Donnie Pump Trading System (2020)</a
        >
      </li>
      <li class="collection-item">
        <a href="/blog/my-first-attempt-at-systematic-trading-algorithms/"
          >My First Attempt at Systematic Trading Algorithms (2018)</a
        >
      </li>
    </ul>

    <h3>Various links you may be looking for</h3>
    <p>
      I have a couple of projects going on so I'm just going to leave links to
      them here. Chances are you came here looking for one of those.
    </p>

    <ul class="collection">
      <li class="collection-item avatar">
        <img src="/images/b-256.png" style="width: 50px" class="circle" />

        <a href="https://www.bounty.co/">
          <span class="title">bounty.co</span>
          <p>
            At Bounty we are helping TikTok creators make UGC for shopify
            stores.
          </p>
        </a>
      </li>

      <li class="collection-item avatar">
        <img
          src="/images/icon-logo-sm.png"
          style="width: 50px"
          class="circle"
        />

        <a href="https://www.iteachrecruiters.com/">
          <span class="title">ITeach Recruiters</span>
          <p>
            An online video course for tech recruiters to cover basic technical
            topics and industry jargon.
          </p>
        </a>
      </li>
      <!-- <li class="collection-item avatar">
        <img src="/images/palm.png" style="width:50px;" class="circle" />

        <a href="http://www.1000monthly.club">
          <span class="title">Monthly Passive Income Calculator</span>
          <p>
            A simple site to calculate monthly passive income via various
            financial instruments.
          </p>
        </a>
      </li> -->

      <!-- <li class="collection-item avatar">
        <img src="/images/cyclone.png" style="width:50px;" class="circle" />

        <a href="http://www.fpvbuildcalc.com">
          <span class="title">FPV Build Calc</span>
          <p>
            A site for building quadcopters. I made this site as part of a React
            Redux tutorial I posted to Youtube. It is hosted on cloudfront.
          </p>
        </a>
      </li> -->

      <li class="collection-item avatar">
        <img src="/images/npm.png" style="width: 50px" class="circle" />

        <a href="https://www.npmjs.com/~a-r-d">
          <span class="title">npm modules</span>
          <p>npm modules I have published, some of them are not very serious</p>
        </a>
      </li>

      <li class="collection-item avatar">
        <img src="/images/youtube.ico" style="width: 50px" class="circle" />

        <a
          href="https://www.youtube.com/playlist?list=PLWRvoIK5KFynq0EMB2tJ3itY2l1gm8EE4"
        >
          <span class="title">Youtube Videos</span>
          <p>
            I (used to) occasionally make youtube videos about programming.
            Previously I created Java videos for the Java 1 course at Cincinnati
            State.
          </p>
        </a>
      </li>

      <!-- <li class="collection-item avatar">
        <img src="/images/java.jpg" style="width:50px;" class="circle" />

        <a href="https://github.com/a-r-d/java-1-class-demos">
          <span class="title">Java 1 Class Examples</span>
          <p>
            As an Adjunct, these are the code examples I have used in the Java 1
            class at Cincinnati State Community College.
          </p>
        </a>
      </li> -->
      <!-- 
      <li class="collection-item avatar">
        <img
          src="/images/paycalc_logo_256.png"
          style="width:50px;"
          class="circle"
        />

        <a
          href="https://nanodolphin-labs.github.io/paycheck-calc-site/index.html"
        >
          <span class="title">PayCalc Cordova App on Android</span>
        </a>
        <p>
          <a
            href="https://play.google.com/store/apps/details?id=me.ard.paycheckcalclite"
          >
            An Android App</a
          >
          Designed by
          <a href="https://www.linkedin.com/in/abrahamwolke">Abe Wolke</a>
          that I implemented using using Apache Cordova. UI is Jquery Mobile, it
          has some interesting stuff in it like IndexedDB.
        </p>
      </li> -->
      <!-- 
      <li class="collection-item avatar">
        <img
          src="/images/nano_dolphin_400px.png"
          style="width:50px;"
          class="circle"
        />
        <a href="http://nanodolphin.com">
          <span class="title">NanoDolphin Labs LLC</span>
          <p>
            I do some freelance work centered around Javascript technologies (UI
            work and server side automation).
          </p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
