<div class="contact-form-container">
  <h3>Contact Me Quickly</h3>
  <form class='form' id='contact-form'>
      <div class='form-group'>
          <label>Message</label>
          <textarea name='message' id='input-message' required class='form-control'></textarea>
      </div>
      <div class='form-group'>
          <label>Reply Email</label>
          <input type='email' name='email' id='input-email' required class='form-control'/>
      </div>
        <div class='form-group'>
            <input type='submit' value='submit' name='submit' class='btn btn-primary form-control' id='form-submit'/>
        </div>
      <div class='form-group' >
          <div id='contact-form-result-success' class="alert alert-success" role="alert" style='display:none;'>
              Thanks! I'll be in touch shortly.
          </div>
          <div id='contact-form-result-failure' class="alert alert-danger" role="alert" style='display:none;'>
              Whoops, looks like there was some problem. Why not email (aaron@ard.ninja) instead?
          </div>
      </div>
  </form>
</div>
